  .spinner {
            margin:auto;
            position: fixed;
            top: 50%;
            left: 50%;
           
            text-align: center;
            z-index: 1234;
            overflow: auto;
            width: 110px; 
            height: 110px;
        }

        @media screen and (min-width: 1100px) {

            body{
                background-image:url('images/background1.jpg');
                background-repeat:no-repeat;
                background-size:cover;
            }

            .for-mobile-view {
                display: none;
            }

            .responsive-nav {
                display: none;
            }


            .hide {
                display: none;
            }

            #large-bodypart {
                float: left;
                padding: 20px 20px 0px 30px;
            }

            .v-tabs {
                display: block;
                border-radius:20px;
                min-width: 130px;
                background-color: white;
                height: 70px;
                border: 1px solid lightgrey;
                text-decoration:none;
                color: black;
                font-family: Arial;
                text-align: center;
                font: bold;
            }

            .onhover-opacity {
                opacity: 0.4;
            }

            .populate-video {
                background-color:white;
                height: auto;
                float: left;
                width: 80%;
                max-width: 80%;
                padding: 40px 20px 0px 5px;
                padding-left:20px;
                margin-left:20px;
                max-height: 720px;
                overflow-y: auto;
            }

            #main-videotabs img {
                width: auto;
            }

            .search_item{
              
            }

            .separate{
                padding-left:30px;
                float:left;
                  width:270px;
                height:200px;
            }

            .row-left{
                float:left;
                padding-top:5px;
            }

            .top-gap{
                padding-top:30px;
                margin-top:30px;
            }
        }